USE [master]
GO
/****** Object:  Database [MSAFocusDB]    Script Date: 4/8/2016 12:17:12 PM ******/
CREATE DATABASE [MSAFocusDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSAFocusDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MSAFocusDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MSAFocusDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MSAFocusDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSAFocusDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSAFocusDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/8/2016 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Customer] ([Id], [Name], [State], [Country]) VALUES (1, N'Balram', N'Maharashtra', N'India')
INSERT [dbo].[Customer] ([Id], [Name], [State], [Country]) VALUES (2, N'Sujeet', N'Bihar', N'USA')
INSERT [dbo].[Customer] ([Id], [Name], [State], [Country]) VALUES (3, N'Bhavik', N'Gujrat', N'India')
USE [master]
GO
